/* admin.css */

.admin-container {
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.doctor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.doctor-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s;
}

.doctor-card:hover {
    transform: translateY(-5px);
}

.doctor-name {
    font-size: 1.5em;
    color: #555;
}

.doctor-contact {
    margin: 10px 0;
    color: #777;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.confirm-button {
    background-color: #28a745;
    color: white;
}

.confirm-button:hover {
    background-color: #218838;
}

.reject-button {
    background-color: #dc3545;
    color: white;
}

.reject-button:hover {
    background-color: #c82333;
}

.details-button {
    background-color: #007bff;
    color: white;
    width: 100%;
    margin-top: 10px;
}

.details-button:hover {
    background-color: #0056b3;
}

.doctor-details {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #eee;
    color: #555;
    transition: max-height 0.3s;
}

@media (max-width: 768px) {
    .doctor-card {
        width: 100%;
        margin: 0 10px;
    }
}
.main-content {
    margin-top: 70px; /* Замените 70px на значение, соответствующее высоте вашей навигационной панели */
  }
