.container-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-custom {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    margin-bottom: 20px;
    text-align: center;
}

.form-control-custom {
    margin-bottom: 15px;
}

.button-custom {
    margin-top: 10px;
}

.registration-link {
    text-align: center;
    margin-top: 10px;
}
