.circle-icon {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #007bff;
    transition: transform 0.3s ease-in-out;
}

.circle-icon:hover {
    transform: scale(1.5) translateY(-20px);
}

.circular-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
